<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
//var xhr;
let xhr;

window.onload = function(){
	//document.getElementById("btn1").onclick = function();
	
	//첫번째 버튼
	document.querySelector("#btn1").addEventListener("click", ()=>{
		//alert("1");
		xhr = new XMLHttpRequest();
		//console.log(xhr)
		
		xhr.onreadystatechange = function(){
			//통신 상태가 완료되면
			//alert(xhr.readyState);  // 0 ~ 4
			
			if(xhr.readyState === XMLHttpRequest.DONE){
				if(xhr.status === 200) {
					//console.log(xhr.response);
					process1();
				}
			}
		}
		
		url = "startajax?msg=" + document.querySelector("#txtMsg").value;
		//xhr.open("GET", url, false);  // 동기 방식
		xhr.open("GET", url, true);  // 비동기 방식
		
		xhr.send();  //http 요청
		
	});
	
	//두번째 버튼
	document.querySelector("#btn2").onclick = function(){
		xhr = new XMLHttpRequest();
		
		xhr.onreadystatechange = function(){
			if(xhr.readyState === XMLHttpRequest.DONE){
				if(xhr.status === 200) {
					process2();
				}
			}
		}
		
		xhr.open("GET", "goajax", true);
		xhr.send();
	}
	
	//세번째 버튼 : Ajax 처리 새로운 방법 - fetch
	document.querySelector("#btn3").onclick = function(){
		const url = "chulbalajax";
		
		fetch(url).then(res => {
			if(res.status === 200){
				return res.json()
			}else{
				console.log(`HTTP err status:${res.status}`)  //` ` <- 백틱 기능
			}
		})
		.then(jsonData => {
			process3(jsonData);
		})
		.catch(err => {
			console.log(err)
		})
	}
}


function process1(){
	//alert(xhr.responseText);
	let parseData = JSON.parse(xhr.responseText);  //str -> json object으로 변환
	document.querySelector("#showData1").innerText = parseData.key;
}

function process2(){
	//alert(xhr.responseText);
	let parseData2 = JSON.parse(xhr.responseText);
	let ss = "";
	for(let i = 0; i < parseData2.length; i++){
		ss += parseData2[i].irum + " " + parseData2[i].nai + "<br>";
	}
	
	document.querySelector("#showData2").innerHTML = ss;
}

function process3(jsonData){
	//alert(jsonData);
	let ss = "";
	for(let i = 0; i < jsonData.length; i++){
		ss += jsonData[i].irum + " " + jsonData[i].nai + "<br>";
	}
	
	document.querySelector("#showData3").innerHTML = ss;
}
</script>
</head>
<body>
Ajax(비동기 방식 처리) 연습<br><br>
나만의 글작성 : <textarea rows="5" cols="50"></textarea>
<hr>

자료 입력 : <input type="text" id="txtMsg" value="korea">
<button id="btn1">Ajax test 1</button>
<br>
<div id="showData1"></div>

<hr>
<button id="btn2">Ajax test 2</button>
<br>
<div id="showData2" style="background-color: yellow;"></div>

<hr>
<button id="btn3">Ajax test 3</button>
<br>
<div id="showData3" style="background-color: red;"></div>
</body>
</html>