<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
span{
    font-family: 궁서;
}
</style>

<link rel="stylesheet" type="text/css" href="/static/css/test.css">

<script type="text/javascript">
window.onload =function(){
	alert("자바스크립트")
}
</script>

<script type="text/javascript" src="/static/js/test.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$("#myimg").click(function(){
		imgclick_func();
	});
});
</script>
</head>
<body>
<h1 style="color: blue">world! 요청결과</h1>
<span class='abc'>스타일 적용</span>

<img src="/static/images/nice.png" id="myimg"/>
<hr>
<button onclick="history.back()">이전으로</button>
</body>
</html>